body{
    background: url(free-nature-stock-xSmXFcqPA8A-unsplash.jpg) no-repeat center center;
    background-size: cover;
    font-family: "La Belle Aurore", sans-serif;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
  }
  