body{
    background: url(AdobeStock_383068592.jpeg) no-repeat;
    background-size: cover;
    height: 800px;
    font-family: "Neucha", sans-serif;
    color:  beige;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(203, 219, 203);
    padding: 50px;
    text-align: center;
    border: 3px solid rgb(207, 218, 218);
  }
  