body{
    background: url(AdobeStock_383068592.jpeg) no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 800px;
    font-family: "Neucha", sans-serif;
    color: darkblue;
  }

 

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(203, 219, 203);
    padding: 50px;
    text-align: center;
    border: 3px solid rgb(207, 218, 218);
  }
  
  #home li {
      list-style-type: none;
  }

  #milestones li{
      list-style: none;
  }

  #welcome li { 
    list-style: none;
  }

  #complete li {
      list-style: none;
  }

  #added {
      list-style-type: none;
  }
 
  