{% extends 'base.html' %}
{% block title %}Welcome to Wishblaster{% endblock %}

{% block body %}
  <h1>Add to This Wishlist!</h1>

  <form action="/item_added_successfully" method="POST">
    <select name="add_to_family_member_wishlist">
 
     {% for member in current_user_family_members %}
 
         
 
       <option value={{member.members_wishlist[0].wishlist_id}}>{{ member.full_name }}</option>
     {% endfor %}
   </select>
    Enter the name of the item you want: 
    <input type="text" name="item">
    What is the link to the item? 
    <input type="text" name="link_to_item">
    <input type="submit"  value="save">
  </form>
  
{% endblock %}