{% extends 'base.html' %}
{% block title %}Welcome to Wishblaster{% endblock %}

{% block body %}
  <h1>Add Family Members, Starting with You!</h1>

  <form action="/complete_family" method="POST">
    What is your name? 
    <input type="text" name="user">
    What is your birthdate?
    <input type="text" name="birth_date">
    Relationship to User? 
    <select name="relationship_to_user">
        <option value="self">Self</option>
        <option value="dad">Dad</option>
        <option value="mom">Mom</option>
        <option value="brother">Brother</option> 
        <option value="sister">Sister</option>
        <option value="son">Son</option>
        <option value="daughter">Daughter</option>
        <option value="cousin">Cousin</option>
        <option value="uncle">Uncle</option>
        <option value="aunt">Aunt</option>
        <option value="grandpa">Grandpa</option> 
        <option value="grandma">Grandma</option>
        <option value="niece">Niece</option>
        <option value="nephew">Nephew</option>
        <option value="sister_in_law">Sister in Law</option>
        <option value="brother_in_law">Brother in Law</option>
     </select> 
  

    <!-- <form action="upload.php" method="POST" enctype="multipart/form-data"></form>
      Select image to upload:
      <input type="file" name="fileToUpload" id="fileToUpload">
      <input type="submit" value="Upload Image" name= "submit">
      
    </form>  -->

  <input type="submit" value="Save">
  </form>
  
{% endblock %}