{% extends 'base.html' %}
{% block title %}Welcome to Wishblaster{% endblock %}

{% block body %}
<div class ="container center">
  <h1>Upcoming Family Milestones</h1>
<ul id="milestones">
  <li>Christmas, December 25th</li>
  <li>New Year's Day, January 1st</li>
  <li>Warren's Birthday (Brother in law), February 19</li>
  <li>Justin's Birthday (Brother), March 3rd</li>
  <li>Shannon's Birthday (Brother), March 15th</li>
  <li>Natalia's Birthday (Niece), March 23rd</li>
  <li>Niko's Birthday (Nephew), March 23rd</li>
  <li>Michelle's Birthday(Sister in law), May 30th</li>
  <li>Savannah's Birthday (Niece), July 13th</li>
  <li>Kristen's Birthday (Sister-in-law), July 17th</li>
  <li>Jenny's Birthday (Sister), August 19th</li>
  <li>Kory's Birthday (Dad), August 28th </li>
  <li>Laila's Birthday (Niece), September 13th</li>
  <li>Dominic's Birthday (Brother), September 28th</li>
  <li>Jaden's Birthday (Nephew), October 29th</li>
  <li>Coco's Birthday (Niece), November 3rd</li>
</ul>
</div>
{% endblock %}