{% extends 'base.html' %}
{% block title %}View Family Page{% endblock %}

{% block body %}_
  <h1>Family Members </h1>
  
    
  <form>
   <select name="family_members_wishlist_id">

    {% for member in current_user_family_members %}

        

      <option value={{member.members_wishlist[0].wishlist_id}}>{{ member.full_name }}</option>
    {% endfor %}
  </select>
  <input type="submit">
 </form>
{% endblock %}


in server.py, in the view wishlist route
request.form.get our value from this form save in variable family members wishlist id
with that variable, query from your items table (filter by wishlist id)
create a function in crud.py
store that list in a variable and pass it to your jinja template
in jinja, for loop through this variable and print all the items
